#change-pass-sect {
    margin-top: 30px;
}
#change-pass-sect label {
    display: block;
}
#change-pass-sect form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}
.input-container {
    margin: 0 auto;
    width: 40%;
    text-align: left;
}
.input-container input {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.confirm-changes {
    color: var(--dark);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    box-shadow: rgb(0 0 0 / 50%) -1px 2px 2px;
    background-color: var(--accent);
}
.cancel-changes {
    background: none;
    color: white;
    border: none;
    text-decoration: underline;
}
.edit-action-btns {
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.edit-action-btns button:hover {
    cursor: pointer;
    text-decoration: none;
}
.error-msg-prof {
    color: rgb(253, 102, 102);
}
@media screen and (max-width: 900px){
    .input-container {
        width: 70%;
    }
}
@media screen and (max-width: 450px) {
    .input-container {
        width: 100%;
    }
}