.profile-container {
    margin-top: 30px;
    text-align: center;
}
.user-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
}
.sign-out-btn {
    border-radius: 5px;
    background-color: var(--accent);
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) -2px 2px 3px;
    padding: 10px 15px;
    color: var(--dark);
    font-weight: bold;
}
.delete-acc-btn {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(224, 115, 115);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(224, 115, 115);
    box-shadow: rgba(0, 0, 0, 0.4) -2px 2px 3px;
}
.delete-acc-btn:hover, .sign-out-btn:hover {
    cursor: pointer;
}
.acct-settings-btn:hover {
    cursor: pointer;
}
.change-email-btn, .change-pass-btn {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.4) -2px 2px 3px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: bold;
    padding: 10px 15px;
}
.change-email-btn:hover, .change-pass-btn:hover {
    cursor: pointer;
}