:root {
    --dark: #0F4C5C;
    --light: #029784;
    --accent: #F79334;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFCF9;
    scroll-behavior: smooth;
    font-family: 'Hind Siliguri', sans-serif;
}
body, html {
    background-color: var(--dark);
    height: 100%;
}