.create-deck {
    width: 100%;
    padding: 50px 100px;
}

.create-deck h3 {
    margin-bottom: 30px;
}

.create-deck-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.deck-input::placeholder {
    color: rgb(209, 207, 207);
}

.deck-input {
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.add-card {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.add-card:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--accent);
}

.new-cards {
    width: 100%;
}

.card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px 0;
    margin: 10px 0;
}

.card-actions {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.delete-icon {
    background: none;
    border: none;
}

.delete-icon:hover {
    cursor: pointer;
}

hr {
    margin: 10px 0;
    border: none;
    height: 2px;
    background: black;
}

.term {
    grid-area: term;
}

.def {
    grid-area: def;
}

.term-desc {
    grid-area: term-desc;
}

.def-desc {
    grid-area: def-desc;
}

.card-input {
    display: grid;
    grid-template-areas:
        'term def'
        'term-desc def-desc';
    column-gap: 20px;
    row-gap: 5px;
    padding: 10px 20px;
}

.card-input input {
    background: none;
    border: none;
    border-bottom: 3px solid white;
}

.desc {
    grid-area: desc;
}

.card-input input::placeholder {
    color: rgb(209, 207, 207);
}

.card-input input:focus {
    outline: none;
    border-bottom: 4px solid var(--accent);
}

.card-input input {
    width: 100%;
}

.card-input input::after {
    content: 'Term';
}

.creation-action-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.submit {
    width: 100px;
    height: 50px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    color: var(--dark);
    font-weight: bold;
    background-color: var(--accent);
    box-shadow: rgba(0, 0, 0, 0.5) -1px 2px 2px;
}

.cancel-creation {
    background: none;
    border: none;
    font-size: 16px;
}

.cancel-creation:hover {
    cursor: pointer;
    text-decoration: underline;
}

.submit:hover {
    cursor: pointer;
    background-color: #e0842e;
}

.submit:active {
    box-shadow: none;
}
@media screen and (max-width: 500px) {
    .create-deck {
        padding: 0;
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
    }
}
@media screen and (max-width: 300px) {
    .card-input {
        grid-template-areas: 
            'term'
            'term-desc'
            'def'
            'def-desc';
    }
    .def {
        margin-top: 20px;
    }
}