.no-deck-information {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 
.create-deck-review {
    text-decoration: underline;
    margin-top: 20px;
}

.create-deck-review:hover {
    cursor: pointer;
    text-decoration: none;
}

.export-import-btns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    width: fit-content;
    gap: 20px;
}

.export-import-btns a, .export-import-btns label {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) -2px 2px 3px;
    padding: 5px 10px;
}

input[type='file'] {
    display: none;
}

.export-import-btns a:hover, .export-import-btns label:hover {
    cursor: pointer;
}

.export-import-btns a:active, .export-import-btns label:active {
    box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 2px;
}

.error-message {
    margin-top: 10px;
    color: rgb(249, 99, 99);
    display: block;
    text-align: center;
}

.all-decks {
    padding: 30px 0;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.full-deck {
    display: flex;
    width: 80%;
}

.delete-deck {
    height: 100%;
    width: 50%;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #E495B5;
    border-left: 2px solid black;
}

.update-deck {
    border: none;
    border-left: 2px solid black;
    width: 50%;
    height: 100%;
    background-color: #E495B5;
}

.delete-deck:hover {
    cursor: pointer;
}

.delete-deck:active {
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
}

.deck-action {
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px;
    display: flex;
    align-items: center;
    width: 10%;
}

.edit-deck {
    color: black;
}

.deck {
    padding: 15px 30px;
    width: 90%;
    background-color: var(--light);
    border-radius: 5px 0 0 5px;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) -3px 3px 5px;
}

.deck:hover {
    cursor: pointer;
    background-color: #03806f;
}

.illustration-img {
    max-width: 300px;
    width: 50%;
    display: block;
}

.deck:active {
    box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 3px;
}
@media screen and (max-width: 1000px) {
    .deck-action {
        width: 30%;
    }
    .deck {
        width: 70%;
    }
}
@media screen and (max-width: 400px){
    .export-import-btns {
        flex-direction: column;
    }
    .deck-action{
        width: 40%;
    }
    .deck {
        width: 60%;
    }
}